<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.qp.dao.AnswerDao">
    <delete id="deleteByTid" parameterType="Integer">
        delete from answer where template_id = #{templateId}
    </delete>
    <insert id="insert" parameterType="Answer" keyProperty="answerId" useGeneratedKeys="true">
        insert into answer(template_id, content, submit_time, ip)
        values (#{templateId}, #{content}, now(), #{ip})
    </insert>
    <select id="selectByTid" parameterType="Integer" resultType="Answer">
        select * from answer where template_id = #{templateId}
    </select>
    <select id="selectCountByTid" parameterType="Integer" resultType="Integer">
        select count(*) from answer where template_id = #{templateId}
    </select>
</mapper>
