<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.qp.dao.TemplateDao">
    <select id="selectById" resultType="Template">
        select * from template
        where template_id = #{templateId}
    </select>
    <select id="selectByOwner" resultType="Template">
        select * from template
        where owner = #{owner} and not deleted
    </select>
    <select id="selectDeletedByOwner" resultType="Template">
        select * from template
        where owner = #{owner} and deleted
    </select>
    <insert id="insert" parameterType="Template" useGeneratedKeys="true" keyProperty="templateId">
        insert into template(type, owner, title, description, password, creation_time)
        values (#{type}, #{owner}, #{title}, #{description}, #{password}, now())
    </insert>
    <update id="update" parameterType="Template">
        update template
        <set>
            title = #{title},
            description = #{description},
            password = #{password},
            <if test="duration != null">
                duration = #{duration}
            </if>
        </set>
        where template_id = #{templateId}
    </update>
    <update id="updateReleased" parameterType="Template">
        update template
        <set>
            released = #{released},
            <if test="released == false">
                duration = addtime(duration, timediff(now(), release_time)),
            </if>
            <if test="released == true">
                release_time = now(),
            </if>
        </set>
        where template_id = #{templateId}
    </update>
    <update id="updateDeleted" parameterType="Template">
        update template
        set deleted = #{deleted}
        where template_id = #{templateId}
    </update>
    <delete id="deleteByTid" parameterType="Integer">
        delete from template
        where template_id = #{templateId}
    </delete>
</mapper>